:root {
   --primary: #04F2D5;
   --secondary: #015051;
   --tertiary: #04837B;
   --white: #fff;
   --black: #000;
   --gray: #D9DDDC;
}

body {
   color: var(--secondary);
   background-color: var(--tertiary);
   background-image: url(/assets/background-image-5.jpg);
   background-repeat: no-repeat;
   background-size: 1200px 800px;
   font-size: 20px;
}

button {
   background-color: var(--secondary);
   color: var(--white);
   font-size: 15px;
   padding: 3px;
   margin: 7px;
}

input {
   background-color: var(--gray);
}

header {
   font-size: large;
   color: var(--white);
}

#landingPage {
   background-color: var(--tertiary);
   padding: 10px;
   position: absolute;
   top: 10%;
   left: 20%;
   border-radius: 12px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}

#habit-container {
   display: flex;
   flex-wrap: wrap;
   position: absolute;
   padding: 13px;
}

.center {
   text-align: center;
}

.top {
   position: absolute;
   top: 0px;
}

.bottom {
   position: fixed;
   bottom: 0px;
}

.habit-card {
   background-color: var(--primary);
   width: 120px;
   margin: 10px;
   align-items: center;
   border-radius: 12px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}

.habit-cover {
   width: 120px;
   height: 100px;
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
}