:root {
   --primary: #04F2D5;
   --secondary: #015051;
   --tertiary: #04837B;
   --white: #fff;
   --black: #000;
   --gray: #D9DDDC;
}

body {
   color: var(--white);
   background-image: url(/assets/background-image-1.jpg);
   background-repeat: no-repeat;
   background-size: 1200px 700px;
   font-weight: bold;
   font-size: 20px;
}

button {
   background-color: var(--secondary);
   color: var(--white);
   font-size: 15px;
   margin: 8px;
   margin-bottom: 15px;
   padding: 5px;
   border-radius: 3px;
   border: none;
}

button:active {
   background-color: var(--primary);
   transform: translateY(7px);
}

summary {
   margin-top: 25px;
}

input {
   background-color: var(--gray);
}

textarea {
   background-color: var(--gray);
}

header {
   font-size: large;
   color: var(--white);
}

footer {
   position: absolute;
   bottom: 5px;
   left: 47%;
}

footer > button {
   padding: 7px;
}

div > h3 {
   text-decoration: underline var(--primary);
}

div > p {
   font-size: medium;
}

@keyframes slide {
   0% {
      transform: translateY(100%);
   }
   100% {
      transform: translateY(0%);
   }

}

#welcome {
   background-color: var(--tertiary);
   position: absolute;
   padding: 15px;
   top: 40%;
   left: 15%;
   animation: slide 1s ease;
}

#explanation {
   background-color: var(--tertiary);
   position: absolute;
   padding: 8px;
   text-align: center;
   width: 750px;
   top: 57%;
   left: 18%;
   animation: slide 1.5s ease;
}

#trackPageBtn {
   position: absolute;
   top: 70%;
   left: 44%;
   animation: slide 2s ease;
}

#home {
   float: left;
   border-radius: 50%;
   font-size: small;
   width: 60px;
   height: 60px;
}

#tracker {
   background-color: var(--tertiary);
   padding: 10px;
   position: absolute;
   top: 15%;
   left: 15%;
}

#habit-container {
   display: flex;
   flex-wrap: wrap;
   position: absolute;
   padding: 13px;
}

#journalInput {
   background-color: var(--tertiary);
   padding: 20px;
   margin-top: 50px;
   position: absolute;
   top: 10%;
}

#journal-container {
   display: flex;
   flex-wrap: wrap;
   position: absolute;
   width: 770px;
   height: 465px;
   top: 18%;
   left: 30%;
}

#tools {
   background-color: var(--tertiary);
   text-align: center;
   padding: 15px;
   position: absolute;
   top: 10%;
   left: 25%;
   border-radius: 7%;
}

#links {
   text-decoration: underline var(--primary);
}

.themeBtn {
   border-radius: 50%;
   font-size: small;
   width: 60px;
   height: 60px;
}

.btnContainer {
   float: right;
}

.center {
   text-align: center;
}

.top {
   position: absolute;
   top: 0px;
}

.bottom {
   position: fixed;
   bottom: 0px;
}

.primary-border {
   border-radius: 12px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}

.habit-card {
   background-color: var(--primary);
   color: var(--secondary);
   width: 180px;
   margin: 15px;
   margin-right: 41px;
   align-items: center;
   border-radius: 30px;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
}

.habit-cover {
   width: 180px;
   height: 130px;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
}

.numCount {
   display: inline-block;
}

.entry {
   display: flex;
   flex-direction: column;
   margin: 20px;
}

.journal-card {
   background-color: var(--secondary);
   font-size: medium;
   width: 160px;
   height: 160px;
   margin: 10px;
   padding: 15px;
   align-items: center;
   border-radius: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}