:root {
   --primary: #04F2D5;
   --secondary: #015051;
   --tertiary: #04837B;
   --white: #fff;
   --black: #000;
   --gray: #D9DDDC;
}

body {
   color: var(--white);
   background-image: url(/assets/background-image-2.jpg);
   background-repeat: no-repeat;
   background-size: 1200px 700px;
   font-weight: bold;
   font-size: 20px;
}

button {
   background-color: var(--secondary);
   color: var(--white);
   font-size: 15px;
   margin: 8px;
}

button:hover {
   background-color: var(--tertiary);
}

button:active {
   background-color: var(--primary);
   transform: translateY(7px);
}

input {
   background-color: var(--gray);
}

textarea {
   background-color: var(--gray);
}

header {
   font-size: large;
   color: var(--white);
}

#welcome {
   background-color: var(--tertiary);
   position: absolute;
   padding: 15px;
   top: 40%;
   left: 15%;
}

#explanation {
   background-color: var(--tertiary);
   position: absolute;
   padding: 8px;
   text-align: left;
   width: 750px;
   top: 57%;
   left: 18%;
}

#trackPageBtn {
   position: absolute;
   top: 80%;
   left: 44%;
}

#tracker {
   background-color: var(--tertiary);
   padding: 10px;
   position: absolute;
   top: 10%;
   left: 16%;
}

#habit-container {
   display: flex;
   flex-wrap: wrap;
   position: absolute;
   padding: 13px;
}

#home {
   float: left;
   border-radius: 50%;
   padding: 15px;
}

#themes {
   float: right;
   border-radius: 50%;
   padding: 15px;
}

#journalInput {
   background-color: var(--tertiary);
   padding: 30px;
   margin-top: 50px;
   position: absolute;
   top: 10%;
}

#journal-container {
   display: flex;
   flex-wrap: wrap;
   position: absolute;
   width: 770px;
   height: 465px;
   top: 18%;
   left: 30%;
}

.btnContainer {
   border-radius: 50%;
   padding: 10px;
}

.center {
   text-align: center;
}

.top {
   position: absolute;
   top: 0px;
}

.bottom {
   position: fixed;
   bottom: 0px;
}

.primary-border {
   border-radius: 12px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}

.habit-card {
   background-color: var(--primary);
   color: var(--secondary);
   width: 160px;
   margin: 7px;
   align-items: center;
   border-radius: 30px;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
}

.habit-cover {
   width: 160px;
   height: 100px;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
}

.entry {
   display: flex;
   flex-direction: column;
   margin: 20px;
}

.journal-card {
   background-color: var(--secondary);
   font-size: medium;
   text-align: center;
   width: 160px;
   height: 160px;
   margin: 10px;
   padding: 5px;
   align-items: center;
   border-radius: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}